@model Guitar

<h1>Edit</h1>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Manufacturer" class="control-label"></label>
        <input asp-for="Manufacturer" class="form-control" />
        <span asp-validation-for="Manufacturer" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ModelName" class="control-label"></label>
        <input asp-for="ModelName" class="form-control" />
        <span asp-validation-for="ModelName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="YearMade" class="control-label"></label>
        <input asp-for="YearMade" class="form-control" />
        <span asp-validation-for="YearMade" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>